@font-face {
  font-family: 'FSGLA';
  src: url('fonts/FSGLAA.woff2') format('woff2'),
      url('fonts/FSGLAA.woff') format('woff'),
      url('fonts/FSGLAA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}
#glagolj-prikaz{font-family: 'FSGLA';}
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

